body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #f08080; /* Color de fondo llamativo */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0 0 10px 0;
}

.receta {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
}

.receta img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.info-receta {
    flex: 1;
}

h2 {
    color: #f08080; /* Color de encabezado llamativo */
}

.autor {
    font-style: italic;
    color: #666;
}

ul, ol {
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
